# Device definition file for the Rockchip RK3326 devices

# Device Features
DEVICE_HAS_FAN=false
DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="Master"
DEVICE_POWER_LED=false
DEVICE_PLAYBACK_PATH_SPK="SPK"
DEVICE_PLAYBACK_PATH_HP="HP"
DEVICE_BRIGHTNESS="128"
UI_SERVICE="weston.service"

# FREQ governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0")
GPU_FREQ=("/sys/devices/platform/ff400000.gpu/devfreq/ff400000.gpu")
DMC_FREQ=("/sys/devices/platform/dmc/devfreq/dmc")
