# Device definition file for the Anbernic RG351V

# Device Features
DEVICE_HAS_FAN=false
DEVICE_FAKE_JACKSENSE=true
DEVICE_VOLUMECTL=true
DEVICE_POWER_LED=true
DEVICE_AUDIO_MIXER="Playback"
DEVICE_VOLUME_DEV="/dev/input/by-path/platform-rg351-keys-event"
DEVICE_HEADPHONE_DEV="/dev/input/by-path/platform-rk817-sound-event"
DEVICE_CONTROLLER_DEV="/dev/input/event3"
DEVICE_BRIGHTNESS="70"
SPLASH_LOADER="imagemagick"

# Kernel Modules
DEVICE_INTERNAL_WIFI=true
DEVICE_WIFI_MODULE="MT7601U"

# GPIOS
DEVICE_WIFI="5"
DEVICE_LED="77"
DEVICE_PWM_MOTOR="pwmchip0"
#DEVICE_PWM_FAN=""
DEVICE_JACK="86"

# FREQ governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0")
GPU_FREQ="/sys/devices/platform/ff400000.gpu/devfreq/ff400000.gpu"
DMC_FREQ="/sys/devices/platform/dmc/devfreq/dmc"

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="${SLOW_CORES}"

# Volume Keys
#DEVICE_KEY_VOLUMEDOWN=
#DEVICE_KEY_VOLUMEUP=

# Controller
DEVICE_BTN_SOUTH="1" # B
DEVICE_BTN_EAST="0"  # A
DEVICE_BTN_NORTH="2" # X
DEVICE_BTN_WEST="3"  # Y
DEVICE_BTN_TL="10"
DEVICE_BTN_TR="11"
DEVICE_BTN_TL2="4"
DEVICE_BTN_TR2="5"
DEVICE_BTN_SELECT="7"
DEVICE_BTN_START="6"
DEVICE_BTN_MODE="7"
DEVICE_BTN_THUMBL="8"
DEVICE_BTN_THUMBR="9"
DEVICE_BTN_DPAD_UP="0.1"
DEVICE_BTN_DPAD_DOWN="0.4"
DEVICE_BTN_DPAD_LEFT="0.8"
DEVICE_BTN_DPAD_RIGHT="0.2"
