[Unit]
Description=After resume, set playback path back to SPK_HP.
After=suspend.target

[Service]
Type=oneshot
ExecStart=-amixer set "Playback Path" "SPK_HP"

[Install]
WantedBy=suspend.target
