# Device definition file for the Hardkernel - Odroid Go Ultra

# Device Features
DEVICE_HAS_FAN=false
DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="Master"
DEVICE_POWER_LED=false
DEVICE_PLAYBACK_PATH_SPK="SPK"
DEVICE_PLAYBACK_PATH_HP="HP"
DEVICE_BRIGHTNESS="128"
SPLASH_LOADER="plymouth"
UI_SERVICE="weston.service"

# GPIOS
DEVICE_TEMP_SENSOR=("/sys/class/hwmon/hwmon0/temp1_input")

# FREQ Governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0" "/sys/devices/system/cpu/cpufreq/policy2")
GPU_FREQ=("/sys/devices/platform/soc/ffe40000.gpu/devfreq/ffe40000.gpu")

# Volume Keys
DEVICE_KEY_VOLUMEDOWN=114
DEVICE_KEY_VOLUMEUP=115
DEVICE_VOL_MODIFIER="BTN_MODE"
