* text=auto eol=lf
*.patch -text

# build directorys
/build.*
/.fakeroot.*
/.egg_cache
/.ccache-*
/.env
/.ant

# automatically downloaded source files
/sources/
/.stamps/

# prebuild target binarys to provide
/target/

# options
.jelos

# private working directory
/.work/

# dedicated filesystem
/lost+found/

# symlinks...
/sources*
/.work

# Go cache
/.cache

# backup files
*.orig
*.rej

# vim swap files
*.swp

# crap
.DS_Store
.directory

# es generation files
.es_cache/

# system document cache
.doc_cache/

# release images
release/

# Linaro SDK
linaro/linux/
linaro/u-boot/
