# Device definition file for the Rockchip RK3588 devices

# Device Features
DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="PCM"
DEVICE_PLAYBACK_PATH_SPK="SPK"
DEVICE_PLAYBACK_PATH_HP="HP"
UI_SERVICE="weston.service"
DEVICE_BRIGHTNESS="128"
SPLASH_LOADER="plymouth"

# GPIOS
DEVICE_TEMP_SENSOR="/sys/devices/virtual/thermal/thermal_zone*/temp"
