DEVICE_BRIGHTNESS="100"
SPLASH_LOADER="imagemagick"

# FREQ Governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0" \
          "/sys/devices/system/cpu/cpufreq/policy1" \
          "/sys/devices/system/cpu/cpufreq/policy2" \
          "/sys/devices/system/cpu/cpufreq/policy3")

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="${SLOW_CORES}"
