# Device definition file for the Anbernic RG552

# Device Features
DEVICE_HAS_FAN=true
DEVICE_FAKE_JACKSENSE=false
DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="DAC"
DEVICE_PLAYBACK_PATH_SPK="SPK"
DEVICE_PLAYBACK_PATH_HP="HP"
DEVICE_VOLUME_DEV="/dev/input/by-path/platform-volume-keys-event"
DEVICE_BRIGHTNESS="128"
SPLASH_LOADER="plymouth"
UI_SERVICE="weston.service"

# Kernel Modules
DEVICE_INTERNAL_WIFI=true
DEVICE_WIFI_MODULE="8188fu"

# GPIOS
DEVICE_WIFI="113"
DEVICE_PWM_MOTOR="pwmchip3"
DEVICE_PWM_FAN="/sys/class/hwmon/hwmon1/pwm1"
DEVICE_TEMP_SENSOR="/sys/devices/virtual/thermal/thermal_zone*/temp"
#DEVICE_JACK=""

# FREQ Governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0" "/sys/devices/system/cpu/cpufreq/policy4")
GPU_FREQ="/sys/devices/platform/ff9a0000.gpu/devfreq/ff9a0000.gpu"
DMC_FREQ="/sys/devices/platform/dmc/devfreq/dmc"

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="taskset -c 4-5"

# Volume Keys
#DEVICE_KEY_VOLUMEDOWN=
#DEVICE_KEY_VOLUMEUP=
DEVICE_VOL_MODIFIER="BTN_TR2"

