# Device definition file for the Anbernic RG552

# Device Features
DEVICE_HAS_FAN=true
DEVICE_FAKE_JACKSENSE=false
DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="Master"
DEVICE_VOLUME_DEV="/dev/input/by-path/platform-volume-keys-event"
DEVICE_CONTROLLER_DEV="/dev/input/by-path/platform-singleadc-joypad-event-joystick"
DEVICE_BRIGHTNESS="50"
DISPLAY_ROTATED=true

# GPIOS
DEVICE_WIFI="113"
DEVICE_PWM_MOTOR="pwmchip3"
DEVICE_PWM_FAN="/sys/class/hwmon/hwmon0/pwm1"
#DEVICE_JACK=""

# FREQ governors
CPU_FREQ="/sys/devices/system/cpu/cpufreq/policy0/scaling_governor"
GPU_FREQ="/sys/devices/platform/ff9a0000.gpu/devfreq/ff9a0000.gpu/governor"
DMC_FREQ="/sys/devices/platform/dmc/devfreq/dmc/governor"

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="taskset -c 4-5"

# Volume Keys
#DEVICE_KEY_VOLUMEDOWN=
#DEVICE_KEY_VOLUMEUP=

# Controller
DEVICE_BTN_SOUTH="0" # B
DEVICE_BTN_EAST="1"  # A
DEVICE_BTN_NORTH="2" # X
DEVICE_BTN_WEST="3"  # Y
DEVICE_BTN_TL="4"
DEVICE_BTN_TR="5"
DEVICE_BTN_TL2="6"
DEVICE_BTN_TR2="7"
DEVICE_BTN_SELECT="8"
DEVICE_BTN_START="9"
DEVICE_BTN_MODE="10"
DEVICE_BTN_THUMBL="11"
DEVICE_BTN_THUMBR="12"
DEVICE_BTN_DPAD_UP="13"
DEVICE_BTN_DPAD_DOWN="14"
DEVICE_BTN_DPAD_LEFT="15"
DEVICE_BTN_DPAD_RIGHT="16"
