# Device definition file for the Anbernic RG351MP

# Device Features
DEVICE_HAS_FAN=false
DEVICE_FAKE_JACKSENSE=true
DEVICE_VOLUMECTL=true
DEVICE_POWER_LED=true
DEVICE_AUDIO_MIXER="Playback"
DEVICE_VOLUME_DEV="/dev/input/by-path/platform-rg351-keys-event"
DEVICE_HEADPHONE_DEV="/dev/input/by-path/platform-rk817-sound-event"
DEVICE_CONTROLLER_DEV="/dev/input/event2"
DEVICE_BRIGHTNESS="70"
SPLASH_LOADER="imagemagick"
UI_SERVICE="systemctl start emustation.service"

# Kernel Modules
DEVICE_INTERNAL_WIFI=false
# DEVICE_WIFI_MODULE=""

# GPIOS
DEVICE_WIFI="5"
DEVICE_LED="77"
DEVICE_PWM_MOTOR="pwmchip0"
#DEVICE_PWM_FAN=""
DEVICE_JACK="86"

# FREQ governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0")
GPU_FREQ="/sys/devices/platform/ff400000.gpu/devfreq/ff400000.gpu"
DMC_FREQ="/sys/devices/platform/dmc/devfreq/dmc"

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="${SLOW_CORES}"

# Volume Keys
#DEVICE_KEY_VOLUMEDOWN=
#DEVICE_KEY_VOLUMEUP=
DEVICE_VOL_MODIFIER="BTN_MODE"

# Controller
DEVICE_BTN_SOUTH="0" # B
DEVICE_BTN_EAST="1"  # A
DEVICE_BTN_NORTH="2" # X
DEVICE_BTN_WEST="3"  # Y
DEVICE_BTN_TL="4"
DEVICE_BTN_TR="5"
DEVICE_BTN_TL2="6"
DEVICE_BTN_TR2="7"
DEVICE_BTN_SELECT="8"
DEVICE_BTN_START="9"
DEVICE_BTN_MODE="10"
DEVICE_BTN_THUMBL="11"
DEVICE_BTN_THUMBR="12"
DEVICE_BTN_DPAD_UP="13"
DEVICE_BTN_DPAD_DOWN="14"
DEVICE_BTN_DPAD_LEFT="15"
DEVICE_BTN_DPAD_RIGHT="16"

# Daemon variables
JSLISTEN_BRIGHTNESS=false
