DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="PCM"
DEVICE_VOL_MODIFIER="ABS_RZ"
UI_SERVICE="systemctl start weston.service"

DEVICE_BRIGHTNESS="100"
SPLASH_LOADER="imagemagick"

# FREQ Governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0" \
          "/sys/devices/system/cpu/cpufreq/policy1" \
          "/sys/devices/system/cpu/cpufreq/policy2" \
          "/sys/devices/system/cpu/cpufreq/policy3")

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="${SLOW_CORES}"

# Controller
DEVICE_BTN_SOUTH="0"
DEVICE_BTN_EAST="1"
DEVICE_BTN_NORTH="3"
DEVICE_BTN_WEST="2"
DEVICE_BTN_TL="9"
DEVICE_BTN_TR="10"
#DEVICE_BTN_TL2="6"
#DEVICE_BTN_TR2="7"
DEVICE_BTN_SELECT="4"
DEVICE_BTN_START="6"
#DEVICE_BTN_MODE="10"
DEVICE_BTN_THUMBL="7"
DEVICE_BTN_THUMBR="8"
DEVICE_BTN_DPAD_UP="11"
DEVICE_BTN_DPAD_DOWN="12"
DEVICE_BTN_DPAD_LEFT="13"
DEVICE_BTN_DPAD_RIGHT="14"
