DEVICE_VOLUMECTL=true
DEVICE_AUDIO_MIXER="PCM"
DEVICE_PLAYBACK_PATH_SPK="SPK"
DEVICE_PLAYBACK_PATH_HP="HP"
DEVICE_VOL_MODIFIER="ABS_RZ"
UI_SERVICE="weston.service"

DEVICE_BRIGHTNESS="128"
SPLASH_LOADER="plymouth"

# FREQ Governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0" \
          "/sys/devices/system/cpu/cpufreq/policy1" \
          "/sys/devices/system/cpu/cpufreq/policy2" \
          "/sys/devices/system/cpu/cpufreq/policy3")

AMDGPU_PERF="/sys/class/drm/card0/device/power_dpm_force_performance_level"

