# Device definition file for the Anbernic RG503

# Device Features
DEVICE_HAS_FAN=false
DEVICE_FAKE_JACKSENSE=false
DEVICE_VOLUMECTL=true
DEVICE_POWER_LED=false
DEVICE_AUDIO_MIXER="Master"
#DEVICE_HEADPHONE_DEV=""
DEVICE_BRIGHTNESS="128"
SPLASH_LOADER="imagemagick"
UI_SERVICE="emustation.service"

# Kernel Modules
DEVICE_INTERNAL_WIFI=true
DEVICE_WIFI_MODULE="8821cs"

# GPIOS
DEVICE_WIFI="0"
#DEVICE_LED=""
DEVICE_PWM_MOTOR="pwmchip1"
#DEVICE_PWM_FAN=""
#DEVICE_JACK=""

# FREQ governors
CPU_FREQ=("/sys/devices/system/cpu/cpufreq/policy0")
GPU_FREQ="/sys/devices/platform/fde60000.gpu/devfreq/fde60000.gpu"
DMC_FREQ="/sys/devices/platform/dmc/devfreq/dmc"

# Affinity
SLOW_CORES="taskset -c 0-3"
FAST_CORES="${SLOW_CORES}"

# Volume Keys
DEVICE_KEY_VOLUMEDOWN=114
DEVICE_KEY_VOLUMEUP=115
DEVICE_VOL_MODIFIER="BTN_MODE"

# Controller
DEVICE_BTN_SOUTH="0" # B
DEVICE_BTN_EAST="1"  # A
DEVICE_BTN_NORTH="2" # X
DEVICE_BTN_WEST="3"  # Y
DEVICE_BTN_TL="4"
DEVICE_BTN_TR="5"
DEVICE_BTN_TL2="6"
DEVICE_BTN_TR2="7"
DEVICE_BTN_SELECT="8"
DEVICE_BTN_START="9"
DEVICE_BTN_MODE="10"
DEVICE_BTN_THUMBL="11"
DEVICE_BTN_THUMBR="12"
DEVICE_BTN_DPAD_UP="13"
DEVICE_BTN_DPAD_DOWN="14"
DEVICE_BTN_DPAD_LEFT="15"
DEVICE_BTN_DPAD_RIGHT="16"
